form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    width: 100%;
}

div {
    flex-direction: row;
    width: 40%;
}

label {
    font-size: 2rem;
}

.text-input {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons input {
    margin: 1rem;
}