<form [formGroup]="tarea" (ngSubmit)="updateList()" *ngIf="showed">
    <div>
        <label>Titulo</label>
        <div>
            <input class="text-input" formControlName="title" id="title" type="text" placeholder="Titulo">
            <div *ngIf="tarea.controls['title'].invalid">Titulo invalido</div>
        </div>
    </div>
    <div>
        <label for="status">Estado</label>
        <div>
            <select formControlName="status" name="status">
                <option *ngFor="let order of statusList; let i = index" [value]="statusList[i]">
                    {{statusList[i]}}
                </option>
            </select>
            <div *ngIf="tarea.controls['status'].invalid">Estado invalido</div>
        </div>
    </div>
    <div class="buttons">
        <input type="submit" value="crear" *ngIf="summoned" [disabled]="tarea.controls['status'].invalid || tarea.controls['title'].invalid">
        <input type="button" value="cancelar" *ngIf="summoned" (click)="cancel()">
        <input type="submit" value="actualizar" *ngIf="!summoned" [disabled]="tarea.controls['status'].invalid || tarea.controls['title'].invalid">
    </div>
</form>