ul {
    width: 20rem;
    display: inline-flex;
    list-style: none;
}

.red {
    background: #F44236;
}

.green {
    background: #CEDC39;
}

.yellow {
    background: #FFEB3B;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-style: solid;
}

ul li {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.w100 {
    width: 100%;
}

.titulo {
    width: 25rem;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}