.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.w25 {
    flex-shrink: 25rem;
    width: 25rem;
    height: 25px;
}

.started {
    background-color: #F44236;
}

.ongoing {
    background-color: #FFEB3B;
}

.finished {
    background-color: #CEDC39;
}

.tarea-style {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 5px;
    border-style: solid;
    min-width: 25rem;
}