.container-1 {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.w25 {
    flex-shrink: 25rem;
    width: 25rem;
    height: 25px;
}

.icon {
    float: right;
}

.started {
    background-color: #F44236;
    justify-content: space-between;
}

.ongoing {
    background-color: #FFEB3B;
}

.finished {
    background-color: #CEDC39;
}

.tarea-style {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 5px;
    border-style: solid;
    width: 30rem;
}

.close::before {
    content: 'x'; // here is your X(cross) sign.
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
}